
<div class="container">

  <h1>Welcome!</h1>

  <%= form_for :user, url: login_path do |f| %>
    <%= f.label :email %> </br>
    <%= f.text_field :email %>   </br>
    <%= f.label :password %></br>
    <%= f.password_field :password %></br>
    <br>
    <%= f.submit "Login" %>
  <% end  %>
<br>
 <br>
  <%= link_to "Click to create account", new_user_path %>
</div>