<!DOCTYPE html>
<html>
<head>
  <title>Surveysfordayz</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="messages">
    <% if flash.alert %>
      <p style="border: solid 1px red"><%= flash.alert %></p>
    <% end %>
    <% if flash.notice %>
      <p style="color: green"><%= flash.notice %></p>
    <% end %>
  </div>
  <header><h1>
    <%if session[:user_id] %>
      <%= link_to "Surveyfordayz", user_path(session[:user_id]) %>
    <% else %>
      <%= link_to "Surveyfordayz", root_path%>
    <% end %></h1>  </header>
<%= yield %>

</body>
</html>
